<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <script src="~/js/bootstrap.js"  crossorigin="anonymous"></script>
</head>

<body>
 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Yedil_Milestone1</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
     
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-controller="Coach" asp-action="Index">Coach</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-controller="Course" asp-action="Index">Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-controller="Equipment" asp-action="Index">Equipment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-controller="Member" asp-action="Index">Member</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-controller="MembershipCard" asp-action="Index">MembershipCard</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" asp-controller="Room" asp-action="Index">Room</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" asp-controller="CourseMember" asp-action="Index">CourseMember</a>
      </li>
        @*
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
        *@
    </ul>
  </div>
</nav>
        <br />
       
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
